.hero {
background: url('/Practica Cine/imgs/AmorDecolegas.jpeg') no-repeat center/cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
padding: 6rem 1rem;
color: red;
}
body {
margin: 0;
font-family: 'Open Sans', sans-serif;
background-color: var(--color-bg);
color: var(--color-text);
}
h1, h2, h3, h4 {
font-family: 'Montserrat', sans-serif;
margin: 0;
}
header {
display: flex;
justify-content: space-between;
align-items: center;
background-color: var(--color-sec);
padding: 1rem 2rem;
background-color: #ffd633;
}

header h1 {
font-size: 1.5rem;
}

nav ul {
display: flex;
list-style: none;
gap: 1.5rem;
margin: 0;
padding: 0;
}

nav a {
color: var(--color-text);
text-decoration: none;
transition: color 0.3s;
}

nav a:hover {
color: var(--color-accent);
}

.btn-entradas {
background-color: var(--color-accent);
color: #000;
padding: 0.6rem 1.2rem;
border-radius: 8px;
text-decoration: none;
font-weight: bold;
transition: background-color 0.3s;
}

.btn-entradas:hover {
background-color: #ffd633;
}

#cartelera {
padding: 3rem 2rem;
text-align: center;
}

#cartelera h3 {
font-size: 2rem;
margin-bottom: 2rem;
}

.peliculas {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
gap: 1.5rem;
}

.pelicula {
background-color: var(--color-sec);
border-radius: 10px;
overflow: hidden;
}

.pelicula:hover {
transform: scale(1.05);
}

.pelicula img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.pelicula h4 {
  margin: 0.8rem 0 1.2rem;
}
#mapa {
  display: none;
  padding: 2rem;
  text-align: center;
}

#mapa h3 {
  margin-bottom: 1.5rem;
}

#mapa iframe {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 10px;
}

footer {
  background-color: #ffd633;
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 2rem;
}

footer .social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

footer a img {
  width: 30px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s;
}

footer a img:hover {
  transform: scale(1.2);
}

footer p {
  color: var(--color-subtext);
  margin: 0.3rem 0;
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 1rem;
  }

  .hero h2 {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .peliculas {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }

  footer .social img {
    width: 25px;
  }
}