body {
    font-family: Arial, sans-serif;
    background-color: #00aef3;
    margin: 20px;
}

header {
    background: #ddd;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

form {
    background: #4622c7;
    padding: 15px;
    border: 1px double #000;
    width: 300px;
    margin: 20px auto;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    border: orchide 2px solid;
    background-color:#00aef3;

}
