body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 400px;
  height: 600px;
  text-align: center;
  border: 2px solid #000;
  padding: 30px 20px;
  transition: all 0.3s ease;
  background: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.card i {
  font-size: 60px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 3rem;
  margin: 10px 0;
  font-weight: 700;
}

.card p {
  font-size: 2rem;
  color: #333;
  margin: 20px 0;
  flex-grow: 1; 
}
.read-more {
  background: #000;
  color: #fff;
  padding: 12px 0;
  border-radius: 30px;
  width: 150px;
  margin: 0 auto;
  font-weight: 500;
  transition: all 0.3s ease;
}

.card:hover {
  background: #e91e63;
  color: #fff;
  border-color: white;
}

.card:hover i {
  color: #fff;
}

.card:hover p {
  color: #fff;
}

.card:hover .read-more {
  background: #fff;
  color: #e91e63;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;
    height: auto;
  }
}
