
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}


.contenedor{
    display: grid;
    grid-template-columns:  1fr 2fr 1.5fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "nav main aside "
        "footer footer footer"  ;
        gap: 10px;
    width: 100%;
    height: 100%;
    
}
header{
    background-color:aqua;
    grid-area: header;
    display: flex;
    align-items: left;
    justify-content: left;
    padding-left:10px ;
    padding-top:12px ;

}
body{
    height: 90vh;
}
main{
    background-color: purple;
    grid-area: main;
    display: flex;
    align-items: left;
    justify-content: left;
    padding-left:10px ;
    padding-top:12px ;

}
nav{
    background-color: blue;
    grid-area: nav;
    display: flex;
    align-items: left;
    justify-content: left;
    padding-left:10px ;
    padding-top:12px ;

}
aside{
    background-color: plum;
    grid-area: aside;
    display: flex;
    align-items: left;
    justify-content: left;
    padding-top:12px ;
    padding-left:10px ;
}
footer{
    background-color: red ;
    grid-area: footer;
    display: flex;
    height: 5vh;
    align-items: left;
    justify-content: left;
    padding-left:10px ;
    padding-top:12px ;


}
@media (max-width: 600px) { 
    .contenedor {
        grid-template-columns: 1fr; 
        grid-template-rows: auto;   
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";
    }   
}
