<h2>Alumnado DAW</h2>

<button (click)="mostrarPrimero()">Mostrar 1º DAW</button>
<button (click)="mostrarSegundo()">Mostrar 2º DAW</button>

<hr>

@if (alumnadoMostrar.length === 0) {
  <p>No hay alumnado cargado</p>
}
@else {
  <ul>
    @for (alumno of alumnadoMostrar; track alumno.dni) {
      <li>
        <strong>{{alumno.nombre}} {{alumno.apellidos}}</strong><br>
        DNI: {{alumno.dni}}<br>
        Fecha nacimiento: {{alumno.fechaNacimiento}}<br>
        Población: {{alumno.poblacion}}<br>
        Teléfono: {{alumno.telefono}}<br>
        Curso: {{alumno.curso}}º DAW<br>

        <em>Módulos:</em>
        <ul>
          @for (modulo of alumno.modulos; track modulo) {
            <li>{{modulo}}</li>
          }
        </ul>
      </li>
      <hr>
    }
  </ul>
}
